.slide{
  list-style: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,.8);
}

.slide.equationSlide{
  display: none;
}

.slide .q{
  position: relative;
  width: 100%;
  height: 75%;
}

.slide .a{
  width: 100%;
  height: 20%;
  background: #fff;
  position: relative;
  margin-bottom: 5%;
}

.slide .a ul{
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.slide .a li{
  position: relative;
  float: left;
  list-style: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  height: 100%;
}

.slide .a li[data-index='2']{
  width: 70%;
}

.slide .a li[data-index='1'],li[data-index='3']{
  width: 15%;
}

.slide .a .iconContainer{
  position: absolute;
  display: block;
  width: 100%;
  background: #fff;
  top: 50%;
  left: -8%;
  border-radius: 100%;
  text-align: center;
  box-shadow:
    0px 0px 0px 1px rgba(51,51,51,1.0),
   -1px 1px 0px 1px rgba(51,51,51,1.0),
   -2px 2px 0px 1px rgba(51,51,51,1.0),
   -3px 3px 0px 1px rgba(51,51,51,1.0),
   -4px 4px 0px 1px rgba(51,51,51,1.0);
  color: #000;
  font-weight: bold;
  text-shadow:
    0px 3px 3px rgba(255,255,255,0.5);
  cursor: pointer;
}

.slide .a .iconContainer.active{
  margin-left: -4px;
  top: 53%;
  box-shadow:
    0px 0px 0px 1px rgba(51,51,51,1.0),
   -1px 1px 0px 1px rgba(51,51,51,1.0);
}

.slide .a .wordBubbleText{
  text-align: center;
  position: absolute;
  width: auto;
  height: auto;
  color: white;
}

.slide .a .answer{
  background: transparent;
  height: 100%;
  width: 82%;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  padding: 0 0.25em;
  margin-left: 5%;
  text-align: right;
}

.slide .a .answer:hover{
  border-color: rgba(0,0,0,0.1);
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
}

.slide .a .answer:focus{
  border-color: #333;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.8), -3px 3px 8px 0px rgba(0,0,0,0.8) inset;
}

.startSlide .startButton{
  position: absolute;
  left: 50%;
  top: 50%;
  height: 20%;
  min-height: 50px;
  width: auto;
  text-align: center;
  cursor: pointer;
}

.gameButton .startSlide .startButton{
  height: 100%;
  width: 100%;
}
